/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; 
}

/* Full Page Carousel itself*/
.carousel {
  height: 100%; 
}
.carousel .carousel-inner {
  height: 100%; 
}
.carousel .carousel-inner .carousel-item,
  .carousel .carousel-inner .active {
    height: 100%; 
}

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }
 
.saving-load {
  width: 100px; 
  height: 35px; 
  background: url('../img/preloader.gif') no-repeat center center; 
  display: none; 
  background-size: 100% auto;}

.small-loader {
  width: 20px; 
  height: 20px; 
  z-index: 1080;
  background: url('../img/loader.gif') no-repeat center center; 
  display: none;
  background-size: 100% auto;
}

#notifications_popover{
  margin : 10px 0px 0px 150px
}

.notification_list{
  font-size: 11px; color:grey
}

div.unstyled{
  list-style-type: none;
}

div.notification_li {
  font-size: 11px; 
  color:grey;
  padding:4px 2px 2px 4px;
  border-bottom: thin solid #c0c0c0;
}

div.notification_li:hover{
  background-color:#eee
}

.turn_off_notification{
  float:right;margin-bottom :1px
}

a.notification_message{
  color : grey
}

a.notification_message:hover{
  color : grey
}

.chip.chip-lg {
  height: 52px;
  line-height: 52px;
  border-radius: 26px;
}

.chip.chip-lg img {
  height: 52px;
  width: 52px;
}

.chip.chip-lg .close {
  height: 52px;
  line-height: 52px;
  border-radius: 26px;
}

.chip #premium-badge {
  height: 20px;
  width: 20px;
  float: initial;
  margin: 0px;  
}

#upload-photo-btn {
  position: relative;
  right: 114px;
  top: 60px; 
}
#upload-photo-btn i {
  font-size: -webkit-xxx-large;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px; 
}

#post-writer #premium-badge {
  border: none;
  margin-left: -7px !important;
  width: 20px !important;
  height: auto !important; 
}

.no-borders {
  padding: 0px !important;
  border: none !important;
}

.media #premium-badge {
  border: none;
  margin-left: -7px !important;
  width: 20px !important;
  height: auto !important; 
}

/*
*
* ===========================================================
*     SOCIAL NETWORK LAYOUT FOR GALLERY
* ===========================================================
*
*/
.hero {
  padding: 0rem 0px !important;
  margin: 0px !important;
}
.cardbox {
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 0px !important;
}

/* ------------------------------- */
/* Cardbox Heading
---------------------------------- */
.cardbox .cardbox-heading {
  padding: 16px;
  margin: 0;
}
.cardbox .btn-flat.btn-flat-icon {
 border-radius: 50%;
 font-size: 24px;
 height: 32px;
 width: 32px;
 padding: 0;
 overflow: hidden;
 color: #fff !important;
 background: #b5b6b6;
 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.cardbox .float-right .dropdown-menu{
  position: relative;
  left: 13px !important;  
} 
.cardbox .float-right a.dropdown-item {
  display: block;
  width: 100%;
  padding: 4px 0px 4px 10px;
  clear: both;
  font-weight: 400;
  font-family: 'Abhaya Libre', serif;
  font-size: 14px !important; 
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

/* ------------------------------- */
/* Media Section
---------------------------------- */
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.media .mr-3{
  margin-right: 1rem !important;
}
.media img{
  width: 48px !important;
  height: 48px !important;
  padding: 2px;
  border: 2px solid #f4f4f4;
} 
.media-body {
  -ms-flex: 1;
  flex: 1;
  padding: .4rem !important;
}
.media-body p{
  font-family: 'Rokkitt', serif;  
  font-weight: 500 !important;
  font-size: 14px;
  color: #88898a;
}
.media-body small span{
  font-family: 'Rokkitt', serif;  
  font-size: 12px;
  color: #aaa;
  margin-right: 10px;
}


/* ------------------------------- */
/* Cardbox Item
---------------------------------- */
.cardbox .cardbox-item {
    position: relative;
    display: block;
}
.cardbox .cardbox-item img{
    position: relative;
    display: block;
    object-position: 50% 50%;  
    width: 60%; height: 100%;   
    object-fit: fill;
}
 
.img-responsive{
    display: block;
    min-width: 100%;
    height: auto;
} 
.fw {
    width: 100% !important;
  height: auto;
}


/* ------------------------------- */
/* Cardbox Base
---------------------------------- */
.cardbox-base{
 border-bottom: 2px solid #f4f4f4;
} 
.cardbox-base ul{
 margin: 10px 0px 10px 15px!important; 
 padding: 10px !important;
 font-size: 0px;  
  display: inline-block;
}
.cardbox-base li {
  list-style: none;
  margin: 0px 0px 0px -8px !important;
  padding: 0px 0px 0px 0px !important;
  display: inline-block;
}

.cardbox-base li a{
  margin: 0px !important;
  padding: 0px !important;
}
.cardbox-base li a i{
 position: relative;
 top: 4px; 
 font-size: 16px;
 color: #8d8d8d;
 margin-right: 15px;
}
.cardbox-base li a span{
 font-family: 'Rokkitt', serif;
 font-size: 14px;
 color: #8d8d8d;
 margin-left: 20px;
 position: relative;
 top: 5px; 
}
.cardbox-base li a em{
 font-family: 'Rokkitt', serif;
 font-size: 14px;
 color: #8d8d8d;
 position: relative;
 top: 3px; 
}
.cardbox-base li a img{
  width: 25px;
  height: 25px;
  margin: 0px !important;
  border: 2px solid #fff;
}


/* ------------------------------- */
/* Cardbox Comments
---------------------------------- */
.cardbox-comments{
  padding: 10px 40px 20px 40px !important;
  font-size: 0px; 
  text-align: center;
  display: inline-block;
}
.cardbox-comments .comment-avatar img{
  margin-top: 1px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
}

.comment-user p{
    margin-top: 0;
    margin-bottom: 0rem; 
}

.comment-user {
  margin-right: 10px; 
  display: inline-block;
  padding-bottom: 20px;
  color: #c2c4c5;
  position: relative;
  top: 15px;
} 

.commentors-avatar img{
  margin-top: 1px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 40px;
  padding: 2px;
  height: 40px;
  border: 1px solid #e0e0e0!important;
}

.reply-comment {
  margin-left: 15px;
}

.cardbox-comments .comment-body {
  overflow: auto;
}

.search {
 position: relative;
 right: -50px;
 top: -45px;
 margin-bottom: -40px;
 border: 2px solid #f4f4f4; 
 width: 90%;
 overflow: hidden;
}

.search input[type="text"] {
 background-color: #fff;
 line-height: 10px;
 padding: 15px 60px 20px 10px;
 border: none;
 border-radius: 4px;
 width: 285px;
 font-family: 'Rokkitt', serif;
 font-size: 14px;
 color: #8d8d8d;
 height: inherit;
 font-weight: 700;
}

.search button {
 position: absolute;
 right: 0;
 top: 0px;
 border: none;
 background-color: transparent;
 color: #bbbbbb;
 padding: 15px 25px;
 cursor: pointer;
 
 display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.search button i {
 font-size: 20px;
 line-height: 30px;
 display: block;
}

.post-text {
 position: relative;
 margin-top: 20px;
 margin-bottom: 20px;
 border: 2px solid #dedada; 
 width: 100%;
 overflow: hidden;
 resize: none;
}

.post-text textarea {
 background-color: #fff;
 line-height: 10px; 
 border: none;
 width: 350px;
 border-radius: 4px;
 font-family: 'Rokkitt', serif;
 font-size: 14px;
 color: #8d8d8d;
 height: inherit;
 font-weight: 700;
}

.cam label i {
 font-size: 20px;
 line-height: 30px;
 display: block;
}
.cam label {
 position: absolute;
 right: 70px;
 top: 175px;
 border: none;
 background-color: transparent;
 color: #bbbbbb;
 padding: 15px 25px;
 cursor: pointer;
 
 display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.no-photo input[type="text"] {
 width: inherit;
}
 

/* ------------------------------- */
/* Author
---------------------------------- */
.author a{
 font-family: 'Rokkitt', serif;
 font-size: 16px;
 color: #00C4CF;
}
.author p{
 font-family: 'Rokkitt', serif;
 font-size: 16px;
 color: #8d8d8d;
}

 
/* ----------------------------------- */
/* social network layout - bootstrap 4
-------------------------------------- */ 
.gedf-wrapper {
  margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .gedf-card {
    margin-bottom: 2.77rem;
  }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
  content: none;
  display: none;
}

/* ------------------------------- */
/* Profile Cards
---------------------------------- */
.pass-info-card{
  max-width: 300px;
  margin: 5px;
  position: absolute;
  z-index: 5000;
}

.pass-info-card #premium-badge{ 
  padding: 10px !important;
  border: none!important;
  height: 35px !important;
  width: auto !important;
}

.pass-info-card #info-card-image{ 
  padding: 0px !important;
  border: none!important;
  height: 35px !important;
  width: auto !important;
}

.pass-info-card .pass-card-header{
  padding: 10px; 
}

.pass-info-card .pass-card-body{
  padding: 5px; 
}

.pass-card-body hr{
  margin-top: -1rem;
  margin-bottom: 0rem;
}


/* ------------------------------- */
/* Follow Cards
---------------------------------- */
.follow-cards{
  margin: 5px; 
  z-index: 5000;
}

.follow-cards #premium-badge{ 
  padding: 10px !important;
  border: none!important;
  height: 35px !important;
  width: auto !important;
  margin: -7px;
}

.follow-cards #follow-cards-image{  
  object-position: 50% 50%; 
  width: 100%;  
  object-fit: cover;
}

.follow-cards .follow-cards-header{
  padding: 0.25rem;
}

.follow-cards .follow-cards-body{
  padding: 5px; 
}

.follow-cards-body hr{
  margin-top: -1rem;
  margin-bottom: 0rem;
}

.followers-thumbs {
  width: 30px!important;
  position: relative;
  top: 0px;
  right: 0px;
  margin-right: 5px;
}

.profile-card {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.profile-card .small-icon {
  position: relative;
  left: 5px;
  bottom: 2px;
}

.follower_link {
  border: none;
}

.follower_link .small-icon {
  position: relative;
  left: -13px;
  top: 10px;
}

.following_link {
  border: none;
}

.following_link .small-icon {
  position: relative;
  left: -13px;
  top: 10px;
}

/* ------------------------------- */
/* Messenger
---------------------------------- */
.message-error {
  min-width: 100%;
  text-align: center;
  border: darkgrey solid 1px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px; 
  background: #EBF4EA;
  color: #696969;
}

.chat-profile {
  color: #747474;
  display: block;
  font-size: 12px;
}

.chat-profile img{
  width: 32px;
  height: auto;
  display: inline-block;
  border: 1px solid #e1e2e4;
  padding: 1px; 
}
.chat-profile #premium-badge {
  border: none;
  width: 20px;
  height: auto;
  margin-left: -5px;
}

.chat-profile .small-icon{
  left: 40px;
  bottom: 104px;
  position: absolute;
}

.container {
  max-width:1170px; 
  margin:auto;
}

img{ 
  max-width:100%;
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.top_spac{ 
  margin: 20px 0 0;
}

.recent_heading {
  float: left; 
  width:40%;
}

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 100%; padding:
}

.headind_srch{ 
  padding:10px 29px 10px 20px; 
  overflow:hidden; 
  border-bottom:1px 
  solid #c4c4c4;
}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}

.srch_bar input{ 
  border:1px solid #cdcdcd; 
  border-width:0 0 1px 0; 
  width:80%; 
  padding:2px 0 4px 6px; 
  background:none;
}

.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}

.srch_bar .input-group-addon { 
  margin: 0 0 0 -27px;
}

.chat_ib h5{ 
  font-size:15px; 
  color:#464646; 
  margin:0 0 8px 0;
}

.chat_ib h5 span{ 
  font-size:13px; 
  float:right;
}

.chat_ib p{ 
  font-size:14px; 
  color:#989898; 
  margin:auto
}

.chat_img {
  float: left;
  width: 11%;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ 
  overflow:hidden; 
  clear:both;
}

.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 5px 10px;
}

.chat_list:hover {
    background-color: #dedcdc;
}

.inbox_chat { 
  height: auto; 
  max-height: 520px;
  overflow-y: scroll;
}

.active_chat{ 
  background:#ebebeb;
}

.active_chat:hover {
    background-color: #dedcdc;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }

 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.received_withd_msg { 
  width: 57%;
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #243a51 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}

.outgoing_msg{ 
  overflow:hidden;
 margin:26px 0 26px;
}

.sent_msg {
  float: right;
  width: 46%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.input_msg_write textarea {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  overflow: auto;
  resize: none;
  width: 100%;
  min-height: 48px; 
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.messaging { 
  padding: 0 0 50px 0;
}

.msg_history {
  height: 516px;
  overflow-y: auto;
}   

.small-icon {
  font: normal normal normal 10px/1 FontAwesome;
  font-size: x-small;
}