<!--Head section-->
<!DOCTYPE html>
<html lang="en"> 
  <head>
    {$tracking_code}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {$seo_plugin}
    <title>{$site_title} | {$page_title}</title>

    <!-- Shortcut Icon -->
    <link rel="shortcut icon" href="{$site_url}/{$template_path}/{$template_name}/img/{$favicon}">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" /> 

    <!-- Material Design CSS -->
    <link href="{$site_url}/{$template_path}/{$template_name}/css/material.css" rel="stylesheet" type="text/css"> 
    <!-- Bootstrap core CSS -->
    <link href="{$site_url}/{$template_path}/{$template_name}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Material Design Bootstrap -->
    <link href="{$site_url}/{$template_path}/{$template_name}/css/mdb.max.css" rel="stylesheet" type="text/css"> 
    <!-- Your custom styles (optional) --> 
    <link href="{$site_url}/{$template_path}/{$template_name}/css/style.css" rel="stylesheet" type="text/css">
    <link href="{$site_url}/{$template_path}/{$template_name}/css/dropzone.css" rel="stylesheet" type="text/css">   
    <link href="{$site_url}/{$template_path}/{$template_name}/css/croppie.css" rel="stylesheet" type="text/css">   
    <style type="text/css"> 
      @media (min-width: 800px) and (max-width: 850px) {
              .navbar:not(.top-nav-collapse) {
                  background: #1C2331!important;
              }
          }
      a.one:hover {color:#ffcc00;} a.one:link {color:#ff0000;}
      .flex-1 {
        flex: 1;
        }
      .scrollable-menu {
          height: auto;
          max-height: 50vh;
          overflow-x: auto;
      }   
      .dropdown .dropdown-menu {padding: 0px;}
      .col, .col-md-4 {padding-right: {$margin_lr}px; padding-left: {$margin_rl}px;}  
      .col, .col-md-8 {padding-right: {$margin_rl}px; padding-left: {$margin_lr}px;}     
    </style>
    <!-- JQuery -->
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/jquery-3.3.1.min.js"></script> 
    <!-- General site functions -->
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/functions.js"></script>
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/modules/dropzone.js"></script>   
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/croppie.js"></script>
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/tinymce/tinymce.min.js"></script> 
    <script type="text/javascript">
      siteUrl = '{$site_url}'; 
      captcha_url = '{$captcha_url}';
      templ_pt = '{$site_url}/{$template_path}/{$template_name}';
      loaderSM = '<div class="preloader-wrapper small active"> <div class="spinner-layer spinner-blue-only"> <div class="circle-clipper left"> <div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div> </div> </div></div>';
    </script>
    <script> 
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>  
  </head>

  <!--/.Head section-->
<body class="fixed-sn {$skinner} bg-light pt-lg-5">
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '{$fb_appid}',
        cookie     : true,
        xfbml      : true,
        version    : 'v3.2'
      });
      FB.AppEvents.logPageView();          
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  
  <!-- Navigation menu -->
  {$double_navigation}
  <!-- Navigation menu -->

  <!--Main layout-->
  {$content}
  <!--Main layout-->
 
  <!-- Connect modal and buttons -->
  {$connector}
  <!-- Connect modal and buttons -->

  <div class="my-2">&nbsp;</div>
  <!--Footer-->
  <footer class="page-footer py-3 px-3 font-small clearfix text-center">

    <div class="row">

      <div class="col-md-6">
        {$footer_links}  
      </div>

      <div class="col-md-6">
        {$copyrights} 
      </div>
    </div>

  </footer>
  <!--/.Footer--> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>
  $.validate({
    lang: 'en'
  });
</script>
<!-- <script>
  $('#password').restrictLength($('#maxlength'));
</script> -->
    <!-- SCRIPTS -->
    <!-- Bootstrap tooltips --> 
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/popper.min.js"></script> 
    <!-- Bootstrap core JavaScript --> 
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/bootstrap.js"></script> 
    <!-- MDB core JavaScript --> 
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/mdb.min.js"></script> 
 
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/modules/uploader.js"></script> 
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/addons/printElement.js"></script> 
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/croppie-processor.js"></script>
 

    <script type="text/javascript">
      // Material Select Initialization
      $(document).ready(function() {
       $('.mdb-select').materialSelect();
      }); 

      // Tooltips Initialization
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });
       
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
                // SideNav Button Initialization
      $(".button-collapse").sideNav();

      // SideNav Scrollbar Initialization
      var sideNavScrollbar = document.querySelector('.custom-scrollbar');
      Ps.initialize(sideNavScrollbar); 

      // Animations initialization
      new WOW().init(); 
      //Date and Time picker 
      $('.datepicker').pickadate();
      $('.timepicker').pickatime({});       
    </script>  

</body>

</html>
